body{
    font-family: Microsoft JhengHei;
}
#banner{
    background-position: center center;
    background-size: cover;
}
#info{
    background-color: #e8e0dc;
}
@media (max-width:375px){
    .carousel img{
        width: 365px;
        height: auto;
        margin-top: 50px;
    }
}
